.main-footer {
  background-color: #f5f6fa;
  position: relative;
  bottom: 0;
  width: 100%;
}
.contact_details {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
}
.display_contact {
  display: flex;
}
.each_detail {
  padding: 2px;
}
.col-sm {
  display: grid;
  place-items: center;
  font-size: 0.8em;
}
